@charset "UTF-8";

/* ページ全体の設定 */
body {
  -webkit-text-size-adjust: none;
  text-size-adjust: none;
  margin: 0;
  font-family: sans-serif;
}

/* 記事 */
article {
  background-color: #fff;
  padding: 20px;
}

h1 {
  font-size: 30px;
}

p {
  line-height: 2;
}

/* 画像 */
img {
  width: 100%;
  height: auto;
}

/* ヘッダーブロック */
header {
  padding: 25px 15px;
  color: #29abe2;
  font-size: 36px;
  font-weight: bold;
  text-align: center;
  font-family: 'Exo 2', sans-serif;
}

/* リンク */
a{
  color: inherit;
  text-decoration: none;
}

a:hover {
  opacity: .7;
}

/* ナビゲーションメニュー */
nav ul{
  list-style: none;
  padding: 0;
  color: #666;
  font-size: 12px;
  display: flex;
  justify-content: center;
}

nav li:not(:last-child) {
  margin-right: 20px;
}

/* コンテンツブロック */
.contents {
  padding: 40px 15px;
  background-color: #29abe2;
}

figure {
  margin: 0;
}

/* 投稿日 */
time {
  display: block;
  color: #666;
  margin-bottom: 15px;
}

/* サブメニュー */
aside {
  background-color: #fff;
  padding: 20px;
  margin-top: 40px;
}

h2{
  color: #29abe2;
  font-family: 'Exo 2', sans-serif;
  font-weight: normal;
  text-align: center;
}

/* サブメニュープロフィール */
.profile img {
  width: 100px;
  height: 100px;
  border-radius: 50%;
}

.profile figure {
  text-align: center;
}

.profile p {
  font-size: 14px;
  text-align: center
}

/* サブメニュー 注目記事メニュー */
.topics ul {
  list-style-type: none;
  padding: 0;
}

.topics a {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.topics figure {
  width: 100px;
  flex: none;
}

.topics img {
  vertical-align: bottom;
}

.topics h3 {
  font-size: 14px;
  margin-top: 0;
  margin-bottom: 0;
  margin-left: 10px;
}
/* フッターブロック */
footer {
  padding: 25px 15px;
  background-color: #6ac4eb;
  color: #fff;
  font-size: 14px;
  text-align: center;
  font-family: 'Exo 2', sans-serif;
}

/* トップページ */
.hero {
  background-image: url(img/walk.jpg);
  background-size: cover;
  background-position: center;
  height: 532px;
  color: #fff;
  font-size: 14px;
  padding: 15px;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.hero h1 {
  font-size: 48px;
  font-family: 'Exo 2', sans-serif;
  text-shadow: 0 0 10px #444;
  text-align: center;
}

.hero p {
  font-weight: bold;
  text-shadow: 0 0 10px #444;
  margin-top: 0;
}

.hero a {
  border: solid 2px #fff;
  padding: 10px 40px;
  border-radius: 10px;
  background-color: rgba(41, 171,226, .7);
  margin-top: 10px;
}

/* トップページ：記事一覧 */
.toppost {
  padding: 15px;
}

.toppost div {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.toppost article {
  padding: 0;
  width: 48%;
  flex: none;
}

.toppost article:not(:nth-last-child(-n+2)) {
  margin-bottom: 12px;
}

.toppost h3 {
  margin: 0;
  font-size: 14px;
}

/* サイトについてページ */
table{
  border-collapse: collapse;
}

th,td {
  border: solid 1px #ccc;
  padding: 18px;
}

th {
  width: 4em;
  text-align: left;
  background-color: #135977;
  color: #fff;
}

td{
  background-color: #e8eef9;
}

/* お問い合わせページ */
input, textarea {
  width: 100%;
  box-sizing: border-box;
  padding: 10px;
}

textarea {
  height: 120px;
}

input[type="submit"] {
  background-color: #ffaa00;
  border: none;
  appearance: none;
}

@media (min-width: 600px) {
  /* PCコンテナ */
  .container {
    max-width: 800px;
    margin-left: auto;
    margin-right: auto;
  }

  /* PCヘッダーコンテナ */
  header .container {
    display: flex;
    justify-content: space-between;
  }

  /* PC記事 */
  article {
    padding-left: 60px;
    padding-right: 60px;
  }

  h1 {
    font-size: 40px;
  }

  p {
    font-size: 18px;
  }

  .hero h1 {
    font-size: 72px;
  }

  /* トップページ記事一覧 */
  .toppost article {
    width: 23%;

  }
  .toppost article:not(:nth-last-child(-n+2)) {
    margin-bottom: 0;
  }

  /* お問い合わせページ */
  input[type="submit"] {
    width: 250px;
  }
}

/* PC(大) */
@media (min-width: 1025px) {
  .container {
    max-width: 1100px;
  }

  .contents .container {
    display: flex;
    justify-content: space-between;
  }

  article {
    width: 68%;
    box-sizing: border-box;
  }

  .sub {
    width: 28%;
  }

  .profile {
    margin-top: 0;
  }
}